<div class="container">
	<h3 class="text-center">Welcome to Eshopper</h3>
	<p>YOu have successully registered on Eshopper</p>
	<p>With<%= @user.email%></p><br>
	<p>To login click on <%=@url%></p>
	<br><br>
	<p>Please, Don't reply to this email.</p>
</div>