<body>
  <%= render "/home/header"%>
  <div class="container">
    <div class="col-sm-8 col-sm-offset-2">
      <p><strong><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif;"><span style="font-size:36px;"><span style="color:#f39c12;">FAQ</span></span></span></strong></p>
      <h3 class="text-center"><%= raw(@cms.content) %></h3>
      <br>
      <br>
      <p><%= raw(@cms.meta_description) %></p>
    </div>
  </div>
</body>