<div class="brands_products">
  <h2>Brands</h2>
  <div class="brands-name">
    <ul class="nav nav-pills nav-stacked">
    <% @brands.each do |brand|%>
      <li><span class="pull-right">(50)</span><%= brand.name %><%= link_to "Hide", "", class: 'hide', data: {'js-hide-link' => true} %></li>
     <!--  <li><a href="#"> <span class="pull-right">(56)</span>Grüne Erde</a></li>
      <li><a href="#"> <span class="pull-right">(27)</span>Albiro</a></li>
      <li><a href="#"> <span class="pull-right">(32)</span>Ronhill</a></li>
      <li><a href="#"> <span class="pull-right">(5)</span>Oddmolly</a></li>
      <li><a href="#"> <span class="pull-right">(9)</span>Boudestijn</a></li>
      <li><a href="#"> <span class="pull-right">(4)</span>Rösch creative culture</a></li> -->
      <% end %>
    </ul>
  </div>
</div>