<div class="brands_products">
  <h2>Brands</h2>
  <div class="brands-name">
    <ul class="nav nav-pills nav-stacked">
      <% @brands.each do |brand|%>
        <li>
          <%= link_to brands_show_path(id: brand.id), id:brand.id, data: { remote: true } do%>
          <%= brand.name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

