<!--category-tab-->
<div class="category-tab">
  <div class="col-sm-12">
    <ul class="nav nav-tabs">
      <li class="active tshirt"><a href="#tshirt" data-toggle="tab">T-Shirt</a></li>
      <li class="blazers"><a href="#blazers" data-toggle="tab">Blazers</a></li>
      <li ><a href="#sunglass" data-toggle="tab">Sunglass</a></li>
      <li><a href="#kids" data-toggle="tab">Kids</a></li>
      <li><a href="#poloshirt" data-toggle="tab">Polo shirt</a></li>
    </ul>
  </div>
  <div class="tab-content">
    <div class="tab-pane fade active in " id="tshirt" >
      <% @productimages.each_with_index do |pi , index|%>
        <%# if index < 4 %>
          <div class="col-sm-3">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <%= image_tag pi.prod_img.url %>
                  <h2>$<%= pi.product.price%></h2>
                <p><%= pi.product.name%></p>
                  <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
              </div>
            </div>
          </div>
        <%# end %>
      <% end %>
    </div>
  </div>
</div>
<!--/category-tab-->
    <%#= will_paginate @productimages, renderer: BootstrapPagination::Rails %>