<section id="slider"><!--slider-->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="slider-carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% @banner.each_with_index do |b,i|%>
              <li data-target="#slider-carousel" data-slide-to="<%= i %>" <% if i==0 %>active<% end %>>
              </li>
            <% end %>
          </ol>
          <div class="carousel-inner">
            <% @banner.each_with_index do |b,i|%>
              <div class="item <% if i==0 %>active<% end %>">
                <div class="col-sm-6">
                  <h1><span>E</span>-SHOPPER</h1>
                  <h2>Free E-Commerce Template</h2>
                  <%=  b.description %>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                  <button type="button" class="btn btn-default get">Get it now</button>
                </div>
                <div class="col-sm-6">
                  <%= image_tag b.image.url, :class=>"girl img-responsive" %>
                  <img src="assets/home/pricing.png"  class="pricing" alt="" />
                </div>
              </div>
            <% end %>
          </div>
          <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

