<section id="do_action">
  <div class="container">
    <div class="heading">
      <h3>What would you like to do next?</h3>
      <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="chose_area">
          <input type="text" value="3" id="quant" />
           <a class="btn btn-default check_out" href="">Apply</a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="total_area">
          <ul>
            <li>Cart Sub Total <span>
              <% a=0 %>
              <% @cart_items.each do |item|%>
                <% if item.user_id == @user %>
                  <% a = (item.product.price*item.quantity + a) %>
                <% end %>
              <% end %>
              $ <%= a %>
            </span></li>
            <li>Eco Tax <span>$ <%= a*0.1%></span></li>
            <li>Shipping Cost <span><% if a<200 %>$ 4 <% else %> Free <% end %></span></li>
            <li>Total <span>$ <%= a+ a*0.1+4 %></span></li>
          </ul>
            <a class="btn btn-default update" href="">Check Out</a>
        </div>
      </div>
    </div>
  </div>
</section><!--/#do_action-->
