<div class="container">
  <h1 class="text-center"><%#= image_tag attachments['logo.png'].url %></h1>
  <br><br>
  <h4 class="text-center">This is your weekly newsletter from Eshopper.com</h4>
  <h5>newsletter no: <%= @content.id %></h5>
  <div class="col-sm-8">
    <p><%= raw(@content.letter_content) %></p>
  </div>
  <p>Thank you for subscribing to Eshopper newsletter</p>
</div>