
<p><%= image_tag attachments['logo.png'].url %></p>
<h1>Newsletter subscribed_user</h1>

<p>
	Welcome to Eshopper Newsletter subscription
</p>
<p>Your email id <%= @email %> is now subscribed for Eshopper's newsletter feature</p><br>
<p>Thank you for subscribing</p>
<p>For More Information Click on <%= @url %></p>
