<%= render '/home/header' %>
<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Sales Report</a></li>
    <li><a data-toggle="tab" href="#menu1">Customer Registered</a></li>
    <li><a data-toggle="tab" href="#menu2">Coupons used</a></li>
  </ul>
  <br><br>
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <p><%= line_chart Order.group_by_day(:created_at).count %></p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <p><%= column_chart User.group_by_day(:created_at).count %></p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <p><%= column_chart CouponsUsed.group_by_day(:created_at).count %></p>
    </div>
  </div>
</div>

